doctype html
html
    head 
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stars.css")
        link(rel="stylesheet", href="/styles.css")
        script(src="https://unpkg.com/htmx.org@2.0.2")
    body 
        include ../partials/header.pug
        include ../components/stars.pug
        block content