@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
:root{
    --bg-primary:#100F20;
    --bg-secondary:#D3B357;
    
    --main-color:#D3B357;
    --secondary-color:#474306;
    --light-main-color:#F7F197;
    
    --lg-padding: 64px 96px;
    --md-padding: 32px 48px;
    --sm-padding: 16px 24px;

    --lg-padding-top: 14rem;
    --md-padding-top: 7rem;
    --sm-padding-top: 1rem;
    --sm-padding-bottom: 1rem;
    
    --lg-margin:16px 10px;
    --md-margin: 5rem;
    --lg-margin-top:32px;
    --md-margin-top: 16px;

    --main-border-raduis: 8px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: justify;
}

body{
    background-color: var(--bg-primary);
    padding: var(--lg-padding);
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* scrollbar For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--main-border-raduis);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-primary);
}
/* For Firefox */
.scrollable {
    scrollbar-width: .2rem;
    scrollbar-color: var(--secondary-color);
}

/* header */
#header-menu {
    display: flex;
    justify-content: space-between;
}

#header-menu ul{
    display: flex;
}
#header-menu ul li{
    margin-right: 20px;
    align-content: center;
}
#header-menu h1 {
    font-weight: bold;
    font-size: 24px;
}
#header-menu .brand img{
    margin-top: -15px;
    margin-left: 5px;
    animation-name: brand-border-animation;
    animation-duration: 4s;
}
#header-menu h1,#header-menu li a{
    position: relative;
    color: var(--main-color);
}

/*  hand draw line  under tag */
.hand-drawn-link {
    text-decoration: none;
    color: var(--main-color);
    position: relative;
}

.hand-drawn-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 0%;
    background: url('/images/hand-line.svg') repeat-x;
    background-size: contain;
    transform: translateY(8px);
    opacity: 0;
    transition: all 0.2s;
}
.hand-drawn-link:hover::after {
    opacity: 1; 
    width: 100%;
}
.hand-drawn-link.active-link::after{
    opacity: 1; 
    width: 100%;
}



header #header-menu span.btn, header #header-menu #mobile-menu{
    display: none;
}

header #header-menu #mobile-menu{
    background-color: var(--bg-secondary);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
header #header-menu #mobile-menu ul.mobile-links {
    display: flex;
    flex-direction: column;
}
header #header-menu #mobile-menu ul.mobile-links li {
    margin-top: var(--md-margin-top);
    margin-right: 0;
    overflow: hidden;
}

header #header-menu #mobile-menu ul.mobile-links li a:hover{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

header #header-menu #mobile-menu ul.mobile-links  li a{
    color: var(--secondary-color);
    padding: .4rem 1rem;
    display: block;
    width: 100%; 
    height: 100%;
}
header #header-menu #mobile-menu ul.mobile-social-links {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding-top: var(--sm-padding-top);
    padding-bottom: var(--sm-padding-bottom);
    bottom: 0;
    width: 100%;
}
header #header-menu #mobile-menu ul.mobile-social-links img{
    fill: red;
    stroke: red;
    stroke-width: 1px;
}


.active{
    color: var(--main-color) !important;
    background-color: var(--secondary-color);
}

@keyframes brand-border-animation {
    from {width: 0;}
    to {width: 100%;}
}

/* home */
/* left  */
#home{
    display: flex;
    justify-content: space-between;
    padding-top: var(--lg-padding-top);
    flex-wrap: wrap;
}

#home .left{
    color: var(--main-color);
}

#home .left p{
    font-size: 28px;
}

#home .left h2 span{
    font-size: 5.3rem;
    font-weight: bolder;
    line-height: calc(100px * 1.1) /* default  calc(100px * 1.5); */
}

#home .left .button-container{
    margin-top: var(--lg-margin-top);
}

#home .bottom-arrow{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* right */
#home .right .image-container{
    position: relative;
    display: inline-block;
    height: 27rem;
    width: 27rem;
}

#home .right .image-container .user-photo{
    position: absolute;
    background-image: url("/images/my_perfect_image.jpeg");
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
    width: 27rem;
    height: 27rem;
    z-index: -9;
    right: -.3rem;
    top: -0.8rem;
}

#home .right .image-container .circle-border{
    z-index: 9;
    width: 27rem;
    height: 27rem;
}

#home .right .image-container .plus-group{
    position: absolute;
    top: -3rem;
    right: 5rem;
}

#home .right .image-container .rectangle-group{
    position: absolute;
    top: 20rem;
    left: -1rem;
}
/* end of home */



/* begin of about */
#about h2{
    font-weight: bolder;
    font-size: 2.5rem;
    margin: var(--lg-padding);
    color: var(--light-main-color);
}

#about p,  #about div{
    margin: var(--lg-padding);
    color: var(--main-color);
}
#about ul li{
    margin: 0.5rem 2rem;
    list-style: square;
}
/* end of about */

/* begin of work */
#work h2{
    font-weight: bolder;
    font-size: 2.5rem;
    margin: var(--lg-padding);
    color: var(--light-main-color);
}
#work p,  #work > div{
    margin: var(--lg-padding);
    color: var(--main-color);
}
#work ul  li{
    margin:  0.5rem 2rem;
    list-style: square;
    color: var(--main-color);
}

#work ul li  span{
    font-size: .7rem;
    color: var(--secondary-color);
}
#work ul li div{
    font-size: .8rem;
}

#work ul li ul li{
    font-size: .8rem;
    color: var(--secondary-color);
}

#work .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: var(--lg-margin-top);
}
/* end of work */

/* begin of contact */
#contact{
    display: flex;
    justify-content: space-between;
}

#contact h2{
    font-weight: bolder;
    font-size: 2.5rem;
    margin: var(--lg-padding);
    color: var(--light-main-color);
}

#contact > div > div {
    margin: var(--lg-padding);
    color: var(--main-color);
}

#contact > div > div .image-container {
    position: relative;
    display: inline-block;
    height: 27rem;
    width: 27rem;
}

#contact .circle-border {
    height: 27rem;
    width: 27rem;
}
#contact > div > div .image-container .contact-photo {
    position: absolute;
    background-image: url("/images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 27rem;
    height: 27rem;
    z-index: -9;
    top: -0.8rem;
    right: -.3rem;
}

#contact > .right  {
    margin: var(--lg-padding);
    padding-top: var(--md-padding-top);
}
#contact > .right p, #contact > .right strong{
    color: var(--main-color);
}
#contact > .right strong {
    font-size: 1.5rem;
    margin-top: calc(var(--lg-margin-top) + 1rem);
    margin-bottom: 5rem;
}
#contact > .right div {
    display: flex;
}

#contact > .right span a{
    width: 5rem;
}
#contact > .right form {
    margin-top: 8rem;
    color: var(--main-color);
}
#contact > .right form .form-controll{
    flex-direction: column;
    margin: var(--lg-margin);
}

#contact > .right form label {
    margin-bottom: .2rem;
}

/* end of contact */




/* components */
/* button */
.btn{
    cursor: pointer;
}
.button-container {
    position: relative;
    display: inline-block;
}
button.btn-primary{
    width: 9.11rem;
    height: 3.25rem;
    margin: var(--lg-margin);
    color: var(--secondary-color);
    background-color: var(--bg-secondary);
    text-align: center;

    border-radius: var(--main-border-raduis);

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color);
}

.rectangle {
    position: absolute;
    top: 0.5rem;
    left: 0.2rem;
    width: 9.11rem;
    height: 3.25rem;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-style: solid;
    pointer-events: none;
    border-radius: var(--main-border-raduis);
}
button.btn-primary:hover, button.btn-primary:focus{
    border-color: var(--secondary-color);
    font-weight: 500;
}
button.btn-primary:hover + .rectangle,
button.btn-primary:focus + .rectangle {
    border-width: 3px;
    top: 0.7rem;
    left: 0.4rem;
}
/*  end of button component */

/* beging of project card component */
#project-card {
    width: 25rem;
    height: 25rem;
    background-color: var(--bg-secondary);
    border-radius: var(--main-border-raduis);
    margin: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

#project-card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: var(--main-border-raduis) var(--main-border-raduis) 0 0;
}

#project-card h3{
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: .2rem;
}
#project-card div {
    padding: .2rem;
    margin: .2rem;
    overflow: scroll;
    height: 10rem;
}
#project-card div p {
    padding: 0;
    margin: 0;
}
#project-card p, #project-card ul li{
    color: var(--secondary-color);
}
/* end of project card component */

/* begin of input */
input,textarea{
    background-color: transparent;
    border-color: var(--main-color);
    border-width: .1rem;
    border-style: solid;
    border-radius: var(--main-border-raduis);
    padding: .8rem;
    color: var(--main-color);
    outline: var(--secondary-color);
}
input:focus,textarea:focus {
    border-width: .15rem;
    font-weight: bold;
}
/* end of input */
/* end of components */


/*  media query */

@media only screen and (max-width: 1176px) { 
    *{
        font-size: 14px;
    }
    body {
        padding: var(--sm-padding);
    }
    header #header-menu ul:not(.mobile-links), .bottom-arrow {
        display: none;
    }

    header #header-menu span.btn{
        display: block;
    }

    #home {
        padding-top: var(--md-padding-top);
        justify-content: center;
    }
    #home .left{
        order: 2;
        margin: var(--md-margin);
    }
    #home .right {
        order: 1;
    }

    /* about */
    #about h2{
        margin: var(--sm-padding);
    }
    #about p,  #about div{
        margin: var(--sm-padding);
    }

    /* work */
    #work h2{
        margin: var(--sm-padding);
    }
    #work p,  #work > div{
        margin: var(--sm-padding);
    }
    #work .left{
        order: 2;
    }
    #work .right {
        order: 1;
    }
    /* contact */
    #contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    #contact h2{
        margin: var(--sm-padding);
    }
    #contact .left {
        width: 100%;
    }
    #contact > .right  {
        padding-top: 0;
        margin-top: 0;
    }

    #contact > div > div {
        margin: 0;
        color: var(--main-color);
    }

    #contact .left .image-container {
        display: none;
    }
 

    /* componenets */
    button.btn-primary:hover + .rectangle,
    button.btn-primary:focus + .rectangle {
        border-width: 3px;
        top: 0.9rem;
        left: 0.6rem;
    }
}

@media only screen and (max-width: 380px) { 
    *{
        font-size: 12px;
    }
}











