@font-face {
    font-family: 'Context';
    font-style: normal;
    font-weight: 400;
    src: local('Context'), url('https://fonts.cdnfonts.com/s/5371/Context Clipped Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Clipped';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Clipped'), url('https://fonts.cdnfonts.com/s/5371/Context Clipped.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Deluxe';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Deluxe'), url('https://fonts.cdnfonts.com/s/5371/Context Deluxe.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Heavy'), url('https://fonts.cdnfonts.com/s/5371/Context Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Regular'), url('https://fonts.cdnfonts.com/s/5371/Context Regular.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Scrambled Hvy';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Scrambled Hvy'), url('https://fonts.cdnfonts.com/s/5371/Context Scrambled Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Scrambled';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Scrambled'), url('https://fonts.cdnfonts.com/s/5371/Context Scrambled.woff') format('woff');
}
@font-face {
    font-family: 'Year2000 Context Clipped';
    font-style: normal;
    font-weight: 400;
    src: local('Year2000 Context Clipped'), url('https://fonts.cdnfonts.com/s/5371/Context Simplex Clipped.woff') format('woff');
}


