@font-face {
    font-family: 'Soloist Halftone';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Halftone'), url('https://fonts.cdnfonts.com/s/22679/soloisthalf.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Halftone';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Halftone'), url('https://fonts.cdnfonts.com/s/22679/soloisthalf1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist'), url('https://fonts.cdnfonts.com/s/22679/soloist1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist 3D';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist 3D'), url('https://fonts.cdnfonts.com/s/22679/soloist3d.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Academy';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Academy'), url('https://fonts.cdnfonts.com/s/22679/soloistacad.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Chrome';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Chrome'), url('https://fonts.cdnfonts.com/s/22679/soloistchrome.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Gradient';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Gradient'), url('https://fonts.cdnfonts.com/s/22679/soloistgrad1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Halftone 2';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Halftone 2'), url('https://fonts.cdnfonts.com/s/22679/soloisthalf21.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Laser';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Laser'), url('https://fonts.cdnfonts.com/s/22679/soloistlaser1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Straight';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Straight'), url('https://fonts.cdnfonts.com/s/22679/soloiststraight1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Title';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Title'), url('https://fonts.cdnfonts.com/s/22679/soloisttitle1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Condensed'), url('https://fonts.cdnfonts.com/s/22679/soloistcond1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Expanded';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Expanded'), url('https://fonts.cdnfonts.com/s/22679/soloistexpand1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Extra-Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Extra-Italic'), url('https://fonts.cdnfonts.com/s/22679/soloistextraital1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Italic'), url('https://fonts.cdnfonts.com/s/22679/soloistital1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Laser Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Laser Italic'), url('https://fonts.cdnfonts.com/s/22679/soloistlaserital1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Leftalic';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Leftalic'), url('https://fonts.cdnfonts.com/s/22679/soloistleft1.woff') format('woff');
}
@font-face {
    font-family: 'Soloist Outline';
    font-style: normal;
    font-weight: 400;
    src: local('Soloist Outline'), url('https://fonts.cdnfonts.com/s/22679/soloistout.woff') format('woff');
}


