main(id="about")
    h2 about.
    p #{about}
    div I Have completed my studies and hold a degree in : 
        ul 
            each degree in education
                li #{degree.degree} - #{degree.graduationDate}