@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');

@import url("../pages/home/grain.css");

:root {
    --primary-color: #adff02;
    --white-color: #fff;
    --size: 15px; 
    --primary-shadow: #adff02;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    padding: 0%;
    margin: 0%;
  }
  body {
    /* /23497.jpg */
    background-image: url("/background.jpeg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto !important;
  }
  .background-primary{
    background-color: var(--primary-color);
  }
  .text-primary{
    color: var(--primary-color) !important;
  }

  .border-primary{
    border-color: var(--primary-color) !important;
  }
  /*  */
}
